In [28]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

for stands for "for loop", 이건 같은 동작을 여러번 반복해서 실행시킬때 쓰는 것. 
ex. 바로 위에 있는 cell의 for i in a 는 a에 assign 되어있는 1, 2, 3, 4를 i가 받도록 해서 이를 돌리는것. 그래서 print(i)를 하면 차례대로 1, 2, 3, 4가 나옴
python에는 end 가 따로 없기 때문에 tab을 통한 indentation 을 통해 어디까지가 for loop의 실행범위에 해당되는 지를 알 수 있음.

In [29]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(i+1)

1
2
3
4

위 cell을 이해하기위해 우선 len(a)를 실행해보면 a=[1,2,3,4]의 length(개수)를 알려준다는 걸 알 수 있음 (leng(a)=4)

In [30]:
len(a)

4

In [31]:
range(a)

TypeError: 'list' object cannot be interpreted as an integer

range()가 무엇을 의미하는지 알기 위해 range(a)를 실행시키면 에러가 뜨면서 range()에 리스트는 넣을 수 없다는걸 알 수 있고, range는 말 그대로 범위를 보여주는 것이기에 range(len(a))는 len(a)가 위에서 확인했듯이 4이기 때문에 range(4)와 같은 표현이고, 이는 아래와 같이 실행된다.

In [32]:
range(4)

range(0, 4)

In [33]:
range(len(a))

range(0, 4)

In [34]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(i)

0
1
2
3

따라서
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(i+1) 를 해보면 i 에 차례대로 0, 1, 2, 3이 들어간다는 걸 알 수 있고 (b/c range(len(a)) = range(4) = range(0,4) = 0부터 3까지; 여기서 =는 단순 동치의 표시), i+1을 print시켰으니 output으로는 1,2,3,4가 나온다는 걸 알 수 있다.

In [35]:
print(a[i])

4

In [36]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

i에 a의 red, green, blue, purple 이 for loop 에 의해 차례로 들어가서 output으로 print 됨

In [37]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    
    print(a[i])

red
green
blue
purple

In [38]:
len(a)

4

In [39]:
range(len(a))

range(0, 4)

a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i]) 를 하면 우선 i에 range(len(a))가 들어가고 바로 위 cell 에 의해 확인할 수 있듯이 range(len(a))는 range(4)이므로 0,1,2,3이니까 print(a[i]) 를 하면 차례대로 a[0]인 red, a[1]인 green, a[2]=blue, a[3]=purple 이 output으로 출력됨.

In [40]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for i, a in enumerate(a):
    print("{}: {}%".format(a, b[i]*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

이 경우 리스트가 a,b 로 두 개이고 얘네가 서로 pair로 pairwise된다고 생각하면 됨. element 개수가 같은 이 두 리스트를 한꺼번에 forloop 해서 printout 하기 위해서 enumerate 라는 함수를 쓴것.

위에있는것에 format(a, b[i]* 100) 으로 output의 형식을 정하면 하면 a에 red, b의 0번째인 0.2에 곱하기 100해 20이 들어오고, 같은 방식으로 loop가 되어 위와같은 output이 나옴.

In [41]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

바로 위 'zip' 는 아래 얘는 enumerate 없이도 그와 똑같은 일을 하는 역할을 한다. (그래서 output이 같음) 
for 뒤의 변수를 underscore로 표현해놓은 것은 이들의 이름이 zip 뒤에 오는 a,b와 같으면 안되기 때문에 underscore을 통해 다른 변수로 설정해놓은것(c,d 라고 생각해도 무방)

In [42]:
a = 0
if a == 0:
    print(a)
else:
     print(a+1)

0

'=' 표시는 변수 assign 할 떄만, '수학적 = '를 표현하기 위해서는 '=='로 표현해야함. 
맨처음 다뤘던 for loop 와 if (그리고 else) 를 표현할 때에는 ':(콜론)' 꼭 필요.

In [43]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

이건 이중 for loop을 뜻함. for loop안에 for loop이 하나 더 있는것.
range (1,3)은 1부터 3까지가 아니라 1부터 2까지. 따라서 print(i* j) 하면 4개의 값이 나옴.

In [44]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

위에서 말했듯 hierarchy를 tab을 통해 표현. 
여기서 if가 없다면 총 4번이 나올텐데 if를 통해 j가 4보다 같거나 클때로 정의내렸으므로 j에는 3,4가 아니라 4만 해당.

In [45]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

여기에선 for loop 가 list 안으로 들어옴. b의 for 부분만 보면 for i in a if i >=2 에서 원래 if 부분아 없었으면 i 는 1,2,3,4 만 돌텐데 for loop의 내용에 i 가 2보다 크거나 같을 때만 list 를 만들어라 라고 적혀있으므로 2,3,4 만 리스트에 들어감.

In [46]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']

이것도 위와 똑같이 for loop가 list 안에 있고 이것도 일단 in a 부터 보면 i 에 red, green, blue, purple 총 4개가 들어가는것. 그럼 len(red) 는 3, len(green)은 5 이런 식인데, if로 length가 4 이상인 경우만 b로 받아라 라고 했으니 red는 제외하고 green, blue, purple 만 b로 나오는것.